.body-div {}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #F5F5FA;
}

.cs-header {
    font: Roboto;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 29.13px;
    font-weight: 600;
}

.cs-primary {
    color: #142FDE !important;
}

.cs-navbar {
    background-color: #FFFFFF !important;
    padding: 0px;
}

.cs-navbar-label {
    margin: 0px
}

.cs-nav-bar-form {
    flex-direction: row;
    width: 100%;
}

.cs-nav-bar-select {
    width: 35%;
    margin: 1%;
}

.cs-nav-bar-form-elements {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
}

.cs-card-body {
    margin: 2% 10% 0 10%;
}

.cs-card-title {
    font-weight: 700;
    margin: 2% 0 2% 0;
}

.cs-card1-header {

    height: 30px;
    left: 150px;
    top: 257px;

    /* Title / M */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    /* text-primary */

    color: rgba(0, 0, 0, 0.87);

}

.cs-card1-helper-text {

    width: 100%;
    height: 16px;
    left: 150px;
    top: 299px;

    /* Body / M */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    /* text-primary */

    color: rgba(0, 0, 0, 0.87);
}

.cs-card1-form {
    margin-top: 5px;
}

/* @media (max-width:320px)  { 
    
    .cs-nav-bar-form-elements{
        flex-direction: column-reverse;
    }
    .cs-nav-bar-select{
        width: 100%;
    }
}
@media (max-width:480px)  { 
    
    .cs-nav-bar-form-elements{
        flex-direction: column-reverse;
    }
    .cs-nav-bar-select{
        width: 100%;
    }

}
@media (max-width:600px)  { 
    
    .cs-nav-bar-form-elements{
        flex-direction: column-reverse;
    }
    .cs-nav-bar-select{
        width: 100%;
    }

} */

.cs-card-sub-title {
    float: right;
    font-size: small;
    line-height: 41px;
    display: inline;
}


@media (max-width:991px) {
    .cs-card-sub-title {
        display: none;
    }

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .cs-nav-bar-form-elements {
        flex-direction: column-reverse;
    }

    .cs-nav-bar-select {
        width: 100%;
    }

    .cs-card-body {
        margin: 0%;
    }

    .cs-card1-form {
        margin-top: 30px;
    }

    .cs-card-title {
        margin-left: 20px;
    }
}

.card-header:first-child {
    background-color: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #142FDE;
    background-color: #F5F5FA;
    border: none;
    border-bottom: 1px solid #142FDE;
}

.nav-link {
    color: #000000;
}

.card-header {
    border-bottom: none;
    background: none !important;
}

.card {
    border: none;
    background: none !important;
}

.cs-white-cards {
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0px 4px 16px -1px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 24px;
}

.cs-grey-sub-cards {
    /* Auto Layout */
    height: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 12em;
    background: #F0F0F0;
    border-radius: 8px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.cs-grey-sub-cards:hover {
    background-color: #D8D8D8;
}

.card-body {
    padding: 0%;
}

.cs-primary-button {
    background-color: #142FDE;
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    width: 100%;
}

.alert-primary {
    color: #FFFFFF;
    background-color: #2196F3;
}

.row {
    margin: 0px;
}

.jk-btn-back {
    color: black;
    margin: 5px 0px 0px 0px;
    text-decoration: none;
    cursor: pointer;
}





.table {
    border: 1px solid lightgrey;
}

.table>thead {
    background-color: #F8DA72;
}




.cs-table-success {
    color: #4CAF50;
}





/* 
.navbar-nav {
    flex-direction: row;

  }
  
  .navbar-nav.dropdown-menu {
    position: absolute;
  }



  .navbar-nav-scroll {
    overflow: visible;
  }

  .navbar-collapse {
    display: flex !important; 
    flex-basis: auto;
  }

  .navbar-toggler {
    display: none;
  } */


.jk-alert-danger {
    background-color: #F44336;
}
.jk-alert-info{
    background-color: #2196F3;
}

.jk-info-icon {
    height: 16px;

}

.jk-info-icon>svg {
    height: 20px;
    fill: white;
}

.jk-refresh-icon {
    height: 16px;

    color: #142FDE;
    cursor: pointer;
}

.jk-refresh-icon>svg {
    height: 20px;
    fill: #142FDE;

}

.jk-refresh-text {
    cursor: pointer;
}

.jk-refresh-text:hover {
    color: lightblue;
}

.jk-halfcard {
    width: 50%;
    padding: 10px ;
    margin: 5px;
}




.jk-bed-count-cards {
    /* Auto Layout */
    justify-content: center;
    height: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
width: 30%;
    border-radius: 8px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.jk-bed-count-cards:hover {}

.jk-bed-count-total {
    background-color: #FEEFDA;
}

.jk-bed-count-occupied {
    background-color: #FFDEDC;

}

.jk-bed-count-vacant {
    background-color: #DDFFDE;
}

.jk-bed-available-row {
    display: flex;
    flex-direction: row;
}

.jk-bed-count-text-total{
    color: #FF9800;

}

.jk-bed-count-text-occupied {

    color: #F44336;


}

.jk-bed-count-text-vacant {

    color: #4CAF50;

}
.jk-bed-card-holder{
    display: flex;
}

.jk-text-align-center{
    text-align: center;
}